body {
    background-image: url(./Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Operaciones {
    text-align: center;
    margin-top: 50px;
}

#Seleccionador {
    margin-left: 840px;
    width: 200px;
    height: 50px;
}

input {
    width: 200px;
    height: 50px;
}

button {
    width: 200px;
    height: 50px;
}

#tabla {
    background-color: white;
    margin-top: 125px;
    margin-left: 30%;
    margin-right: 30%;
}